.crop {
    width: 230px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.avatar-container {
    width: 54px;
    height: 54px;
    border-radius: 54px;
    overflow: hidden;
}

.avatar-container img,
.avatar-container span
{
    width: 54px;
    height: 54px;
}

.background-char-g {
    background-color: #4ea4f6;
}

.hidden {
    display: none;
}