html, body {
	padding: 0;
	margin: 0;
}

* {
	font-family: arial;
	box-sizing: border-box;
	font-weight: normal;
}


p {
	margin: 5px 0;
}

.clear {
	clear: both;
}

/* Buttons */

.btn {
	text-transform: uppercase;
	border-radius: 5px;
	border: 0;
	font-family: helvetica, arial;
	text-align: center;
	font-size: 15px;
	padding: 14px 20px;

	position:relative;
	overflow:hidden;
	transition: all 0.2s ease;
	z-index:0;
}

.btn-primary {
	background: #4ea4f6;
	color: #fff;
}

.btn-block {
	display: block;
}



/* Ripple effect */

.ink {
	display: block;
	position: absolute;
	background:rgba(255, 255, 255, 0.3);
	border-radius: 100%;
	transform:scale(0);
}

.animate {
  animation:ripple 0.65s linear;
}

@keyframes ripple {
    100% {opacity: 0; transform: scale(2.5);}
}


/* Input elements */




/* Login form */

.login-form {
	background: url('../img/telegram-logo.png') no-repeat;
	background-position: center 0;
	background-size: 160px;
	padding-top: 200px;
	margin: 100px auto 0;
	width: 360px;
	text-align: center;
}



/* Input */

input.text {
	border: 1px solid #dadce0;
	border-radius: 5px;
	font-size: 14px;
    padding: 13px 10px;
    width: 100%;
    outline: none;
    margin: 1px 0;
}

input.text:focus {
	border: 2px solid #4ea4f6;
	margin: 0;
}

.invalid input.text {
	border: 2px solid #e53935;
	margin: 0;
}

.md-input-group {
	text-align: left;
}

.md-input-group .md-input-label {
    -webkit-transition: all .15s cubic-bezier(.35,0,.15,1);
    transition: all .15s cubic-bezier(.35,0,.15,1);
}

.md-input-label {
    font-weight: 400;
    color: #999;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 0;
    z-index: 1;
    pointer-events: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: left center;
    -webkit-transform-origin: left center;
    -webkit-transform: translate3d(0,35px,0);
    transform: translate3d(0,35px,0);
    
    text-align: left;
    margin-left: 8px;
    line-height: 25px;
    background: #fff;
    padding-left: 2px;
    padding-right: 2px;

}

.md-input-has-value .md-input-label {
	-webkit-transform:scale(.9);
	transform:scale(.9);
	-webkit-transform: translate3d(0,14px,0);
	transform: translate3d(0,14px,0);
	font-size: 12px;
}


.md-input-has-value.active .md-input-label {
	color: #4ea4f6;
}

.md-input-group.invalid .md-input-label {
	color: #e53935;
}



/* Select */

select {
	width: 100%;
	text-align: left;
}


.webogram .select2-container--default .select2-selection--single {
	border: 1px solid #dadce0;
	border-radius: 5px;
	text-align: left;
}

.webogram  .select2-container .select2-selection--single {
	height: 47px;
}

.webogram .select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 47px;
}

.webogram .select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 47px;
}



.auth-description {
	color: #707579;
}



/* Code form */

.auth-code-form {
	background: url('../img/monkey-head.png') no-repeat;
	background-position: center 0;
	background-size: 122px;
	padding-top: 150px;
	margin: 100px auto 0;
	width: 360px;
	text-align: center;
}

.auth-code-form.concerned {
	background-image: url('../img/monkey-head-concerned.png');
}


.link-icon {
	display: inline-block;
}

.link-icon.pencil {
	background: url('../img/pencil.png') no-repeat;
	width: 19px;
	height: 19px;
	background-size: 100%;
}

.link-icon.eye {
	background: url('../img/icons/eye1_3x.png') no-repeat;
	width: 19px;
	height: 15px;
	background-size: 100%;
}


.link-icon.eye.close {
	background: url('../img/icons/eye2_3x.png') no-repeat;
	width: 19px;
	height: 15px;
	background-size: 100%;
}


.link-icon.menu {
	background: url('../img/icons/menu_3x.png') no-repeat;
	width: 19px;
	height: 19px;
	background-size: 100%;
}

.link-icon.close {
	background: url('../img/icons/close_3x.png') no-repeat;
	width: 19px;
	height: 19px;
	background-size: 100%;
}


.link-icon.short-menu {
	background: url('../img/icons/more_3x.png') no-repeat;
	width: 19px;
	height: 19px;
	background-size: 100%;
}

.link-icon.info {
	background: url('../img/icons/info_3x.png') no-repeat;
	width: 19px;
	height: 19px;
	background-size: 100%;
}

.link-icon.username {
	background: url('../img/icons/username_3x.png') no-repeat;
	width: 19px;
	height: 19px;
	background-size: 100%;
}

.link-icon.phone {
	background: url('../img/icons/phone_3x.png') no-repeat;
	width: 19px;
	height: 19px;
	background-size: 100%;
}





/* Password form */

.auth-password-form {
	background: url('../img/monkey-head-password.png') no-repeat;
	background-position: center 0;
	background-size: 122px;
	padding-top: 150px;
	margin: 100px auto 0;
	width: 360px;
	text-align: center;
}

.auth-password-form.show-password {
	background-image: url('../img/monkey-head-password-show.png');
}

.auth-code-form.concerned {
	background-image: url('../img/monkey-head-concerned.png');
}


.show-password-button {
	margin-left: -30px;
}



/* Chat */

.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  max-width: 1680px;
  align-items: stretch;
  height: 100%;
}

.wrapper > * {
  flex: 1 100%;
}

.wrapper > .aside { flex: 1 0 0; }

.wrapper > .chat-window { flex: 2 0px; background: #e6ebee; height: 100%; overflow: auto; position: relative; padding-top: 100px; }
.wrapper > .contacts { order: 1; background: #fff; border: 1px solid #dadce0; height: 100%; overflow: auto; position: relative; padding-top: 65px; border-top: 0;}
.wrapper > .chat-window    { order: 2; }
.wrapper > .info { order: 3; }


/* Contacts list */

.contacts-list {
	list-style: none;
	margin: 0;
	padding: 0;
	border-top: 1px solid #dadce0;
	padding: 10px;
}

.contacts-list li {
	margin: 0;
	padding: 11px 5px;
	color: #82878a;
	flex: 1 100%;
	display: flex;  
  	flex-flow: row wrap;
  	cursor: pointer;
}

.contacts-list li:hover, .contacts-list li.selected {
	background: #f4f4f5;
	border-radius: 10px;
}

.contacts-list li > .avatar,
.avatar-container {
	width: 54px;
	position: relative;
	text-align: center;
	line-height: 54px;
	color: #fff;
	font-weight: bold;
}

.contacts-list li > .avatar .online {
	width: 12px;
	height: 12px;
	border: 2px solid #fff;
	background: #0ac630;
	border-radius: 12px;
	position: absolute;
	bottom: 3px;
	right: 3px;
}

.contacts-list li > .info {
	flex: 2 0px; 
	padding: 0 10px;
	position: relative;
}

.contacts-list li .name {
	font-weight: bold;
	color: #000;
}

.contacts-list li .timestamp {
	position: absolute;
	top: 0;
	right: 5px;
	font-size: 10px;
}

.contacts-list li .messages-counter {
	position: absolute;
	top: 30px;
	right: 5px;
	background: #4dcd5e;
	height: 24px;
	min-width: 24px;
	border-radius: 24px;
	color: #fff;
	padding: 5px;
	text-align: center;
	font-size: 12px;

}

.contacts-list li .messages-counter.muted {
	background: #c4c9cc;
}

/* Top Bar */

.chat-window .top-bar {
	width: 100%;
	background: #fff;
	padding: 10px 20px;
	flex: 1 100%;
	display: flex;  
  	flex-flow: row wrap;
  	cursor: pointer;
  	position: fixed;
  	top: 0;
  	z-index: 100;
}

.chat-window .top-bar .info {
	flex: 2 0px; 
	padding: 0 15px;
}

.chat-window .top-bar .name {
	color: #000;
	font-weight: bold;
}

.chat-window .top-bar .status {
	font-size: 12px;
}


/* Messages window */

.messages-window {
	width: 712px;
	margin: auto;

	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: flex-end;
	margin-left: 16px;
	margin-right: 16px;
	margin-bottom: 6px;
}





.message {
	margin-top: 10px;
	margin-left: 10px;
	clear:both;
	float:left;
}

.message.my-message {
	float:right;
	margin-right: 10px;
	clear:both;
}

.message {


  align-self: flex-start;
  display: flex;
  align-items: center;
    
  position: relative;
  
  min-height: 30px;
  max-width: 420px;
  
  background-color: #fff;
  margin-bottom: 8px;
  border-radius: 6px;
  
  z-index: 2;
  
  box-shadow: 0 2px 1px 0 rgba(160,172,182,.5);
}

.message.my-message {
  align-self: flex-end;
  background-color: #effdde;
  box-shadow: 0 2px 1px 0 rgba(93,196,82,.5);
}

.message.droplet:before {
  position: absolute;
  content: '';
  bottom: 0;
  left: -8px;
  width: 12px;
  height: 1px;
  background-color: inherit;
  z-index: 1;
  box-shadow: 0px 1px 1px 1px rgba(160,172,182,.5);
}
.message.droplet:after {
  position: absolute;
  content: '';
  bottom: 0;
  left: -10px;
  width: 16px;
  height: 10px;
  clip-path: url(#left-droplet);
  background-color: inherit;
  z-index: 1;
  box-shadow: 0 2px 1px 0 rgba(160,172,182,.5);
}

.message.my-message.droplet:before {
  right: -8px;
  left: initial;
  box-shadow: 0px 1px 1px 1px rgba(93,196,82,.5);
}
.message.my-message.droplet:after {
  right: -10px;
  left: initial;
  clip-path: url(#right-droplet);
}

.message__text,
.message__image__text .message__text__content {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 2;
}

.message__image,
.message__image__text {
  position: relative;
  z-index: 2;
}
.message__image {
  border-radius: 6px;
}
.message__image__content {
  border-radius: 6px;
  margin-bottom: -3px;
  max-width: 100%;
}

.message__time {
  display: inline-block;
  float: right;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 14px;
  text-align: right;
  font-size: 12px;
  color: #a0acb6;
}
.my-message .message__time {
  color: #5dc452;
}
.message__image .message__time {
  display: block;
  float: initial;
  position: absolute;
  bottom: 4px;
  right: 4px;
  padding: 4px;
  color: #fff;
  background-color: rgba(38,50,56,.5);
  border-radius: 6px;
  transition: opacity .2s linear;
  opacity: 0;
}
.message__image:hover .message__time {
  opacity: 1;
}



/* Search bar container */


.contacts-top-bar {
	padding: 10px;
	position: fixed;
	top: 0;
	z-index: 100;
	background: #fff;
}

.contacts-top-bar .contacts-menu-container {
	float: left;
	padding: 12px 10px;
}

.contacts-top-bar .search-bar-container {
	float: right;
	/*width: 350px;*/
}

.search-bar-container input {
	background: #f4f4f5 url('../img/icons/search_3x.png') no-repeat 6px 10px;
	background-size: 25px;
	color: #969ea5;
	border: 0;
	padding: 5px 10px 5px 32px;
	border-radius: 20px;
	width: 100%;
	font-size: 14px;
	outline: none;
	line-height: 34px;
}




/* Info bar */

.user-info .picture {
	width: 120px;
	margin: auto;
}

.user-info div.username {
	margin-top: 20px;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}

.user-info .status {
	color: #3390ec;
	font-size: 12px;
	text-align: center;
}

.user-info .details {
	margin-top: 40px;
	padding: 10px;
}

.user-info .details-row {
	margin: 10px 0;
}

.user-info .details-row .details-icon {
	width: 40px;
	float: left;
	text-align: center;
	padding: 5px;
}

.user-info .details-row .details-data {
	float: left;
	padding: 0 10px;
}

.user-info .details-row .details-data .attribute {
	color: #707579
}



/* Tabs */

.tabs-list {
	list-style: none;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #dadce0;
}

.tabs-list li {
	float: left;
}

.tabs-list li a {
	color: #707579;
	text-decoration: none;
	display: block;
	padding: 10px 30px;
}

.tabs-list li a.active {
	color: #4ea4f6;
	border-bottom: 2px solid #4ea4f6;
}

.tabs-list::after {
	content: "";
	display: table;
	clear: both;
}


.tabs-container .tab {
	padding: 20px;
}