<div class="wrapper">
    <article class="chat-window">
        <div class="top-bar">
            <div class="avatar">
                <div style="background: tomato; width: 44px; height: 44px; border-radius: 44px;"></div>
            </div>
            <div class="info">
                <p class="name">Vadimchik</p>
                <p class="status">online</p>
            </div>
        </div>

        <div class="messages-list">


            <div class="message droplet">
                <div class="message__text">
                    <div class="message__text__content">Ti kto?
                        <div class="message__time">18:12</div>
                    </div>
                </div>
            </div>


            <div class="message my-message droplet">
                <div class="message__text">
                    <div class="message__text__content">
                        Kak dela?
                        <div class="message__time">18:12</div>
                    </div>
                </div>
            </div>


            <div class="message my-message droplet">
                <div class="message__text">
                    <div class="message__text__content">Poydem pit' kofe
                        <div class="message__time">18:12</div>
                    </div>
                </div>
            </div>

            <div class="message my-message droplet">
                <div class="message__text">
                    <div class="message__text__content">
                        ayAYAY
                        <div class="message__time">18:12</div>
                    </div>
                </div>
            </div>

            <div class="message droplet">
                <div class="message__text">
                    <div class="message__text__content">
                        Coffee is a brewed drink prepared from roasted coffee beans, the seeds of berries from certain Coffea species. The genus Coffea is native to tropical Africa and Madagascar, the Comoros, Mauritius, and Réunion in the Indian Ocean.
                        <div class="message__time">18:12</div>
                    </div>
                </div>
            </div>

        </div>
    </article>
    <aside class="aside contacts">
        <div class="contacts-top-bar">
            <div class="contacts-menu-container">
                <a href="#" class="menu"><span class="link-icon menu"></span></a>
            </div>
            <div class="search-bar-container">
                <input type="text" value="" placeholder="Search">
            </div>
            <div class="clear"></div>
        </div>
        <ul class="contacts-list">

        </ul>
    </aside>
    <aside class="aside info">
        <aside class="aside info">
            <div class="info-top-bar">
                <a href="#"><span class="link-icon close"></span></a>
                <h3>Info</h3>
                <a href="#"><span class="link-icon short-menu"></span></a>
            </div>

            <div class="user-info">
                <div class="picture">
                    <div style="background: violet; width: 120px; height: 120px; border-radius: 120px;"></div>
                </div>
                <div class="username">Katana Gunok</div>
                <div class="status">online</div>

                <div class="details">
                    <div class="details-row">
                        <div class="details-icon">
                            <span class="link-icon info"></span>
                        </div>
                        <div class="details-data">
                            <p class="value">25 y.o. traveler</p>
                            <p class="attribute">Bio</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="details-row">
                        <div class="details-icon">
                            <span class="link-icon username"></span>
                        </div>
                        <div class="details-data">
                            <p class="value">katana</p>
                            <p class="attribute">Username</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="details-row">
                        <div class="details-icon">
                            <span class="link-icon phone"></span>
                        </div>
                        <div class="details-data">
                            <p class="value">+380976803242</p>
                            <p class="attribute">Phone</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="details-row">
                        <div class="details-icon">
                            <input type="checkbox">
                        </div>
                        <div class="details-data">
                            <p class="value">Notifications</p>
                            <p class="attribute">Enabled</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="clear"></div>
            </div>

            <div class="tabs">
                <ul class="tabs-list">
                    <li><a href="#" class="active" data-tab="media">Media</a></li>
                    <li><a href="#" data-tab="docs">Docs</a></li>
                    <li><a href="#" data-tab="links">Links</a></li>
                    <li><a href="#" data-tab="audio">Audio</a></li>
                </ul>

                <div class="tabs-container">
                    <div class="tab" data-name="media">Media</div>
                    <div class="tab" data-name="docs">Docs</div>
                    <div class="tab" data-name="links">Links</div>
                    <div class="tab" data-name="audio">Audio</div>
                </div>
            </div>
        </aside>
    </aside>
</div>

<svg height="0" width="0">
    <defs>
        <clipPath id="left-droplet">
            <path d="M 10,0 A 10,10 0 0 1 0,10 H 16 V 0 Z">
        </clipPath>
        <clipPath id="right-droplet">
            <path d="M 6,0 A 10,10 0 0 0 16,10 H 0 V 0 Z">
        </clipPath>
    </defs>
</svg>

<script type="template" id="contact-tpl">
    <li data-id="<%= id %>" data-access-hash="<%= access_hash %>" data-type="<%= type %>">
        <div class="avatar">
            <div class="avatar-container">
                <img src="">
            </div>
        </div>
        <div class="info">
            <p class="name crop"><%= name %></p>
            <p class="last-message crop"><%= lastMessage %></p>
            <p class="timestamp"><%= time %></p>
            <% if (counter) { %>
                <p class="messages-counter"><%= counter %></p>
            <% } %>
        </div>
    </li>
</script>


<script type="template" id="message-tpl">
    <div class="message <%= message_type %> droplet" data-id="<%= id %>">
        <div class="message__text">
            <div class="message__text__content">
                <%= message %>
                <div class="message__time"><%= time %></div>
            </div>
        </div>
    </div>
</script>