html, body {
	padding: 0;
	margin: 0;
}


/* Buttons */

.btn {
	text-transform: uppercase;
	border-radius: 5px;
	border: 0;
	font-family: helvetica, arial;
	text-align: center;
	font-size: 15px;
	padding: 14px 20px;

	position:relative;
	overflow:hidden;
	transition: all 0.2s ease;
	z-index:0;
}

.btn-primary {
	background: #4ea4f6;
	color: #fff;
}

.btn-block {
	display: block;
}



/* Ripple effect */

.ink {
	display: block;
	position: absolute;
	background:rgba(255, 255, 255, 0.3);
	border-radius: 100%;
	transform:scale(0);
}

.animate {
  animation:ripple 0.65s linear;
}

@keyframes ripple {
    100% {opacity: 0; transform: scale(2.5);}
}


/* Input elements */

