<form class="auth-code-form">
  <div>
    <h2><span class="phone"></span> &nbsp; <a href="#"><span class="link-icon pencil"></span></a></h2>
    <p class="auth-description">We have sent you an sms with the code</p>


    <div class="md-input-group">
      <label class="md-input-label">Code</label>
      <input type="text" value="" placeholder="" class="text" id="auth-code" />
    </div>
    <br>
    <div>
      <button class="btn btn-primary btn-block" type="submit" style="width: 100%;">Next</button>
    </div>
  </div>
</form>