<body class="webogram login-page">
<div class="login-form">
  <h1>Sign in to Telegram</h1>
  <p>Please confirm your country and enter your phone number.</p>

  <div class="md-input-group">
    <label class="md-input-label">Country</label>
    <select placeholder="country" id="sign-in-country">
      <option value="">Country</option>
      <option value="+380">Ukraine (+380)</option>
      <option value="+7">Russia (+7)</option>
      <option value="+1">United States (+1)</option>
    </select>
  </div>


  <div class="md-input-group">
    <label class="md-input-label">Phone number</label>
    <input type="text" value="" placeholder="" class="text phone" />
  </div>

  <br>
  <div>
    <label><input type="checkbox" checked="checked" /> Keep me signed in</label>
  </div>
  <br>
  <div>
    <button class="btn btn-primary btn-block next" style="width: 100%;">Next</button>
  </div>
</div>
</body>