<div class="auth-password-form">
  <h2>Enter a password</h2>
  <p class="auth-description">Your account is protected with an additional password.</p>


  <div class="md-input-group">
    <label class="md-input-label">Password</label>
    <input type="password" value="" placeholder="" class="text" id="auth-password" />
    <a href="#" class="show-password-button"><span class="link-icon eye"></span></a>
  </div>
  <br>
  <div>
    <button class="btn btn-primary btn-block" style="width: 100%;">Next</button>
  </div>
</div>